
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <style>
        #container {
            margin: 0 auto;
        }
        .about {
            margin: 0 5px;
            color: darkslategrey;
            font-family: 'Monaco', Courier, monospace;
        }
    </style>
    <body>
        <div id="container"></div>
        <div class="about">
            <%= htmlWebpackPlugin.options.title %>
            <%= htmlWebpackPlugin.options.ctime %>
        </div>
    </body>

    <!-- <script type="text/javascript" src="build/{{source}}"></script> -->
</html>